body {
	background-color: lightgray;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: bold;

}

.navcontainer {
	background-color: #d3d3d3;
	background-color: lightgray;
}

.navbar-navbar {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	padding-bottom: 50px;
	background-color: lightgray;
}

.nav justify-content-end {}



.nav-link {
	text-decoration: none;
	color: black;
	font-size: 1.5em;

}

.nav-link:hover {
	color: gray;
}


h1,
.about,
.portfolio {
	text-align: center;
	color: white;
	background-color: #003471;
	background-size: cover 20px;
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



a {
	text-decoration: none;
	color: black;
}

.a:hover {
	color: gray;
}

.fa {
	font-size: 50px;
	width: 65px;
	text-align: center;
	text-decoration: none;
}


/* Add a hover effect if you want */
.fa:hover {
opacity: 0.7;
}

/* Twitter */
.fa-twitter {
	background: #55ACEE;
	color: white;
}

.fa-linkedin {
	background: #007bb5;
	color: white;
}

.fa-envelope{
	background: #ac3232;
	color: white;
}

.backToTop {
	color: gray;
}