body {
	background-color: lightgray;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: bold;
	font-size: 1rem;
}

.navcontainer {
	background-color: #d3d3d3;

}

.navbar-navbar {

	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	padding-bottom: 50px;

}

.nav justify-content-end {}



.nav-link {
	text-decoration: none;
	color: black;
	font-size: 1.5em;

}

.nav-link:hover {
	color: gray;
}


h1 {
	text-align: center;
	color: white;
	background-color: #003471;
	background-size: cover 20px;
	font-size: 3em;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3,
h4 {

	text-align: center;

}



.about,
.portfolio {
	text-align: center;
	color: white;
	background-color: #003471;
	background-size: cover 20px;
	font-size: 2.5em;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
	font-size: 1em;
}